<body>
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                        <img class="image_fix"
                          src="http://greengerong.com/images/blog_img/ramda-logo.png"
                          alt="Meadowlark Travel" title="测试图标"
                          width="180" height="220" />
                    </td>
                </tr>
                <tr>
                    <td width="200" valign="top"><p>
                        {{cart.billing.name}}.</p><p>预订单号是
                        {{cart.number}}.</p></td>
                </tr>
                <tr>
                    <td width="200" valign="top">有问题请随时拨打电话：
                        <span class="mobile_link">555-555-0123</span>.</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>